* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: monospace;
}
html {
    font-size: 62.5%;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background-color: #010409;
    color: #e7edf3;
    font-size: 4rem;
}
span {
    color: #fed142;
}