:root {
    --dark-primary: #010409;
    --light-primary: #e7edf3;
    --blue-primary: #497ff4;
}
@font-face {
    font-family: 'Comfortaa';
    font-style: bold;
    font-weight: 700;
    src: 
    local("Comfortaa"),
    url("../fonts/Comfortaa.woff2") format("woff2");
}
@font-face {
    font-family: 'VictorMono-Regular';
    font-style: normal;
    font-weight: 400;
    src: 
    local("VictorMono-Regular"),
    url("../fonts/VictorMono-Regular.woff2") format("woff2");
}
@font-face {
    font-family: 'VictorMono-Italic';
    font-style: normal;
    font-weight: 400;
    src: 
    local("VictorMono-Italic"),
    url("../fonts/VictorMono-Italic.woff2") format("woff2");
}
@font-face {
    font-family: 'VictorMono-Bold';
    font-style: bold;
    font-weight: 700;
    src: 
    local("VictorMono-Bold"),
    url("../fonts/VictorMono-Bold.woff2") format("woff2");
}
@font-face {
    font-family: 'VictorMono-BoldItalic';
    font-style: bold;
    font-weight: 700;
    src: 
    local("VictorMono-BoldItalic"),
    url("../fonts/VictorMono-BoldItalic.woff2") format("woff2");
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html {
    font-size: 62.5%;
    color: var(--light-primary);
    font-family: 'VictorMono-Regular', monospace;
}
body {
    background-color: var(--dark-primary);
    background-image:radial-gradient(var(--dark-primary), 1%, transparent 1%), radial-gradient(var(--light-primary), 0.1%, transparent 20%);
    background-size: 16px 16px;
    background-position: 0 0, 30px 30px;
    background-repeat: repeat;
}
h1, h2, h3, h4, h5, h6 {
    font-family: 'Comfortaa', Arial, Helvetica, sans-serif;
}
span {
    color: var(--blue-primary);
}

/* Header */

header .container  {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    min-width: 320px;
    padding: 16px;
}
.nav-container ul {
    list-style: none;
    padding: 0;
}
.nav-container li {
    display: inline;
}
.nav-container li a {
    text-decoration: none;
    color: var(--light-primary);
}

/* Main */

main .container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    min-width: 320px;
    height: 80vh;
}
main .container .odracir {
    display: flex;
    flex-direction: column;
    width: 90%;
    margin: 0 auto;
    text-align: center;
}
.odracir h1 {
    font-size: 5rem;
}
.odracir span {
    font-family: 'Comfortaa', Arial, Helvetica, sans-serif;
}
.odracir h2 {
    margin-top: 8px;
    font-size: 2.5rem;
}
.odracir h3 {
    font-size: 1.8rem;
    color: var(--blue-primary);
}
main .container .experience {
    width: 90%;
    margin-top: 40px;
    font-size: 1.6rem;
    line-height: 1.8rem;
    text-align: center;
}
main .container .experience p {
    margin-top: 8px;
}

/* Footer */

footer .container {
    width: 100%;
    height: 32px;
    position: absolute;
    bottom: 0;
    text-align: center;
    font-size: 1.4rem;
}