---
import Layout from '@layouts/Layout.astro'
import OpenGraph from '@components/OpenGraph.astro'
import Header from './_index/Header.astro'
import Projects from './_index/Projects.astro'

const options = {
  title: 'Ricardo Cuauro | odraciRdev',
  description:
    'Una descripción que en algún momento de mi vida voy a tener que escribir'
}
---

<Layout options={options}>
  <OpenGraph
    title={options.title}
    description={options.description}
    image="/og/og.jpg"
    slot="social-media"
  />
  <main>
    <Header />
    <Projects />
  </main>
</Layout>

<style>
  main {
    width: 690px;
    padding-top: 80px;
    margin: 0 auto;
  }

  @media (width <=400px) {
    h1,
    h2,
    h3 {
      margin-bottom: 18px;
    }

    main {
      max-width: 85%;
      padding: 40px 0;
      margin: 0 auto;
    }
  }
</style>
