---
import ProjectCard from '@components/ui/ProjectCard.astro'
import VoidProject from '@components/ui/VoidProject.astro'
---

<section class="projects">
  <h2 class="projects-title"><span>[</span>Proyectos<span>]</span></h2>
  <p>
    A lo largo del tiempo he creado distintos proyectos como freelancer, ac치
    encontrar치s una recopilaci칩n de mis proyectos m치s recientes.
  </p>
  <article class="cards-container">
    <ProjectCard />
    <VoidProject placeholder rotatingHeader />
  </article>
</section>

<style>
  .projects {
    & .projects-title {
      letter-spacing: 0.15rem;

      & span {
        color: var(--blue);
      }
    }
  }
  .cards-container {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    gap: 24px;
    margin-bottom: 3rem;
  }

  @media (width <= 500px) {
    .cards-container {
      grid-template-columns: 1fr;
      margin-bottom: 2rem;
    }
  }
</style>

<script src="@scripts/shuffle-text.js"></script>
