---
import Footer from '@ui/Footer.astro'
import { Schema } from 'astro-seo-schema'
// import Favicons from '@components/Favicons.astro'
import 'sanitize.css/forms.css'
import 'sanitize.css/assets.css'
import 'sanitize.css/reduce-motion.css'
// Supports weights 400-700
import '@fontsource-variable/nunito'
// Supports weights 300-700
import '@fontsource-variable/comfortaa'

interface Options {
  title: string
  description: string
  metaRobots?: string
}

interface Props {
  options: Options
}

const { options } = Astro.props
const { title, description, metaRobots } = options
---

<!doctype html>
<html dir="ltr" lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <title>{title}</title>

    <slot name="preconnect" />

    <slot name="async-script" />

    <!-- Critical CSS -->
    <style is:inline>
      :root {
        --dark: #010409;
        --light: #e7edf3;
        --light-opacity: #e7edf3d0;
        --blue: #497ff4;

        --h1-size: 3rem;
        --h2-size: 2rem;
        --h3-size: 1.5rem;
        --p-size: 1.15rem;

        --h1-size-m: 2.5rem;
        --h2-size-m: 1.25rem;
        --h3-size-m: 1.5rem;

        --sb-size: 0.35rem;
      }

      * {
        box-sizing: border-box;
        margin: 0;
        padding: 0;
      }

      html {
        background-color: var(--dark);
        color: var(--light);
        font-family: 'Nunito Variable', sans-serif;
        font-size: var(--p-size);
      }

      body {
        scrollbar-gutter: stable both-edges;

        &::-webkit-scrollbar {
          width: var(--sb-size);
          height: var(--sb-size);
        }

        &::-webkit-scrollbar-track {
          background: var(--dark);
          border-radius: 4px;
        }

        &::-webkit-scrollbar-thumb {
          background: var(--blue);
          border-radius: 4px;
        }
      }

      @supports not selector(::-webkit-scrollbar) {
        body {
          scrollbar-color: var(--blue) var(--dark);
        }
      }

      h1,
      h2,
      h3 {
        font-family: 'Comfortaa Variable', system-ui;
        font-weight: 600;
        margin-bottom: 1.5rem;
      }

      h1 {
        font-size: var(--h1-size);
      }

      h2 {
        font-size: var(--h2-size);
      }

      h3 {
        font-size: var(--h3-size);
      }

      p {
        margin-bottom: 1.5rem;
        color: var(--light-opacity);
      }

      @view-transition {
        navigation: auto;
      }
    </style>

    <slot name="stylesheet" />

    <slot name="preload" />

    <slot name="defer-script" />

    <meta name="robots" content={metaRobots || 'index, follow'} />
    {description && <meta name="description" content={description} />}
    {description && <link href={Astro.url.href} rel="canonical" />}
    <meta name="author" content="Ricardo Cuauro - https://odracir.dev" />

    {
      description && (
        <Schema
          item={{
            '@context': 'https://schema.org',
            '@type': 'Person',
            name: 'Ricardo Cuauro',
            description:
              'Una descripción que debo escribir en algún momento de mi vida.',
            image: 'https://avatars.githubusercontent.com/u/172313798',
            logo: 'https://avatars.githubusercontent.com/u/172313798',
            url: 'https://odracir.dev/',
            sameAs: [
              'https://github.com/UXCorpRangel/',
              'https://www.linkedin.com/company/uxcorprangel',
              'https://discord.gg/GBGPSQaKRf'
            ],
            address: {
              '@type': 'PostalAddress',
              addressCountry: 'Chile'
            }
          }}
        />
      )
    }

    <slot name="schema" />

    <!-- <Favicons /> -->

    <meta name="color-scheme" content="dark" />
    <meta name="theme-color" content="#010409" />

    <slot name="social-media" />
  </head>
  <body>
    <div class="container">
      <slot />
      <Footer />
    </div>

    <slot name="dynamic-components" />
  </body>
</html>

<style>
  .container {
    min-height: 100dvh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
</style>
