---
import Footer from '@ui/Footer.astro'
import { Schema } from 'astro-seo-schema'
import Favicons from '@components/Favicons.astro'
import 'sanitize.css'
import 'sanitize.css/forms.css'
import 'sanitize.css/assets.css'
import 'sanitize.css/typography.css'
import 'sanitize.css/reduce-motion.css'

interface Options {
  title: string
  description: string
  metaRobots?: string
}

interface Props {
  options: Options
}

const { options } = Astro.props
const { title, description, metaRobots } = options
---

<!doctype html>
<html dir="ltr" lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <title>{title}</title>

    <slot name="preconnect" />

    <slot name="async-script" />

    <!-- Critical CSS -->
    <style is:inline>
      :root {
        --accent: 136, 58, 234;
        --accent-light: 224, 204, 250;
        --accent-dark: 49, 10, 101;
        --accent-gradient: linear-gradient(
          45deg,
          rgb(var(--accent)),
          rgb(var(--accent-light)) 30%,
          white 60%
        );
        --scrollbar: #e5e5e5;
        --scrollbar-thumb: #c0c0c0;
        --scrollbar-thumb-hover: #909090;
        --scrollbar-dark: #898989;
        --scrollbar-thumb-dark: #5d5d5d;
        --scrollbar-thumb-hover-dark: #3f3f3f;
      }

      @view-transition {
        navigation: auto;
      }

      body::-webkit-scrollbar {
        width: 7px;
        height: 7px;
        background: var(--scrollbar);
        transition: background 150ms cubic-bezier(0.4, 0, 0.2, 1);
        will-change: background;
      }

      body::-webkit-scrollbar-thumb {
        background: var(--scrollbar-thumb);
        border-radius: 0.25rem;
      }

      @media (any-hover: hover) {
        body::-webkit-scrollbar-thumb:hover {
          background: var(--scrollbar-thumb-hover);
        }
      }

      @media (prefers-color-scheme: dark) {
        html body::-webkit-scrollbar {
          background: var(--scrollbar-dark);
          transition: background 150ms cubic-bezier(0.4, 0, 0.2, 1);
          will-change: background;
        }

        html body::-webkit-scrollbar-thumb {
          background: var(--scrollbar-thumb-dark);
        }

        @media (any-hover: hover) {
          html body::-webkit-scrollbar-thumb:hover {
            background: var(--scrollbar-thumb-hover-dark);
          }
        }
      }

      @supports not selector(::-webkit-scrollbar) {
        html,
        body {
          scrollbar-color: var(--scrollbar) var(--scrollbar-thumb);
          scrollbar-width: thin;
          scrollbar-gutter: stable;
        }

        @media (prefers-color-scheme: dark) {
          html,
          html body {
            scrollbar-color: var(--scrollbar-dark) var(--scrollbar-thumb-dark);
          }
        }
      }
    </style>

    <slot name="stylesheet" />

    <slot name="preload" />

    <slot name="defer-script" />

    <meta name="robots" content={metaRobots || 'index, follow'} />
    {description && <meta name="description" content={description} />}
    {description && <link href={Astro.url.href} rel="canonical" />}
    <meta
      name="author"
      content="UXCorpRangel (Felix Icaza) - https://github.com/UXCorpRangel/boilerplate"
    />
    <meta name="generator" content={Astro.generator} />

    {
      description && (
        <Schema
          item={{
            '@context': 'https://schema.org',
            '@type': 'Organization',
            name: 'UXCorpRangel',
            description:
              'Donde Diseñadores y Desarrolladores se unen para ganar experiencias y conocimientos mientras crean proyectos increíbles.',
            image: 'https://avatars.githubusercontent.com/u/172313798',
            logo: 'https://avatars.githubusercontent.com/u/172313798',
            url: 'https://uxcorprangel.github.io/',
            sameAs: [
              'https://github.com/UXCorpRangel/',
              'https://www.linkedin.com/company/uxcorprangel',
              'https://discord.gg/GBGPSQaKRf'
            ],
            address: {
              '@type': 'PostalAddress',
              addressCountry: 'Chile'
            }
          }}
        />
      )
    }

    <slot name="schema" />

    <Favicons />

    <meta name="color-scheme" content="dark light" />
    <meta name="theme-color" content="#ee2525" />

    <slot name="social-media" />
  </head>
  <body>
    <slot />

    <Footer />

    <slot name="dynamic-components" />
  </body>
</html>
