<footer>
  <p>
    Hecho con <video
      width="24"
      src="/media/heart.webm"
      preload="metadata"
      playsinline
      autoplay
      muted
      loop></video> por
    <a href="https://github.com/UXCorpRangel" target="_blank">UXCorpRangel</a>
  </p>
</footer>

<style>
  footer {
    padding-inline: 1rem;
    text-align: center;
  }
</style>
