<footer>
  <p>Aquí nadie es reservado, ni los derechos ni los izquierdos. 🍻</p>
  <small>
    Powered by <a
      href="https://github.com/UXCorpRangel/boilerplate"
      target="_blank">Boilerplate UX Corp Rangel</a
    > | Inspired by <a href="https://wojtek.im/" target="_blank"
      >Wojtek Witkowski</a
    >
  </small>
</footer>

<style>
  footer {
    text-align: center;
    margin: 1rem 0;
    color: var(--light-opacity);

    @media (width <= 500px) {
      max-width: 14rem;
      margin: 0 auto;
    }

    p {
      font-size: 0.85rem;
      margin-bottom: 0;
    }

    & small {
      font-size: 0.65rem;
      padding: 0.25rem 0;

      & a {
        cursor: pointer;
      }
    }
  }
</style>
