---
import { socials } from '@data/social.data'
import Button from './Button.astro'
---

<section class="rrss">
  {
    socials.map(({ icon, label, link, color }) => (
      <Button
        link={link}
        external
        label={label}
        icon={icon}
        iconColor={color}
      />
    ))
  }
</section>

<style>
  .rrss {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1rem;
    margin: 6rem 0;
  }
</style>
