---
type Props = {
  placeholder?: boolean
  rotatingHeader?: boolean
}

const { placeholder = false, rotatingHeader = false } = Astro.props
---

<div class="card-project">
  <div class={placeholder ? 'placeholder' : ''}></div>
  <div class="void-info">
    <h3><span class={rotatingHeader ? 'rotatingHeader' : ''}></span></h3>
    <p><span class="rotatingDesc"></span></p>
  </div>
</div>

<style>
  .card-project {
    border: 2px solid var(--light-opacity);
    border-radius: 1rem;
    height: auto;
    overflow: hidden;

    & > * + * {
      margin-top: 8px;
    }

    & .placeholder {
      aspect-ratio: 16/9;
      object-fit: cover;
      border-radius: 0.85rem 0.85rem 0 0;
      height: 185px;
      width: 100%;
      overflow: hidden;
      position: relative;

      &::before {
        content: '';

        inset: -150%;
        position: absolute;
        z-index: -1;
        opacity: 0.6;

        background-size: contain;
        background-image: url(/images/noise.webp);
        animation: noise 1s steps(8, end) infinite both;

        will-change: opacity;
        transition: opacity 0.3s ease;
      }
    }

    & .void-info {
      display: flex;
      flex-direction: column;
      gap: 0.5rem;
      padding: 0 0.75rem 0.75rem;
      position: relative;

      @media (width <= 500px) {
        min-height: 90px;
      }

      & h3 {
        color: var(--blue);
        user-select: none;
        margin-bottom: 0;
        margin-top: 0.5rem;
      }

      & p {
        margin-bottom: 0;
        user-select: none;
        font-size: 0.85rem;
      }
    }
  }

  @keyframes noise {
    0% {
      transform: translateX(0px, 0px);
    }
    10% {
      transform: translate(-100px, 100px);
    }
    20% {
      transform: translate(150px, -100px);
    }
    30% {
      transform: translate(-100px, 100px);
    }
    40% {
      transform: translate(100px, -150px);
    }
    50% {
      transform: translate(-100px, 200px);
    }
    60% {
      transform: translate(-200px, -100px);
    }
    70% {
      transform: translateY(50px, 100px);
    }
    80% {
      transform: translate(100px, -150px);
    }
    90% {
      transform: translate(0px, 200px);
    }
    100% {
      transform: translate(-100px, 100px);
    }
  }
</style>
